<footer class="main-footer-ar">
  <div class="footer-top">
    <div class="footer-col about">
      <p>{{ "Footer.Title3" | translate }}</p>
      <a href="mailto:Trendline.om@gmail.com" class="footer-mail"
        >{{ "Footer.Title3Value" | translate }}<i class="fa fa-envelope-o"></i
      ></a>
    </div>
    <div class="footer-col address">
      <div class="footer-title">{{ "Footer.Title2" | translate }}</div>
      <div>{{ "Footer.Title2Value" | translate }} <br /></div>
      <!-- <div>All days</div>
      <div>8AM - 10PM</div> -->
    </div>
    <div class="footer-col contact">
      <div class="footer-title">{{ "Footer.Title1" | translate }}</div>
      <div>+(968) 77463736</div>
      <div></div>
    </div>
    <!-- <div class="footer-col payment">
      <div class="footer-title">payment methods</div>
    </div> -->
  </div>
  <div class="footer-bottom">
    <div class="footer-social">
      <a href="https://www.instagram.com/1_trendline?igsh=MXZlNGYxMXNhNHozaQ=="
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
    <div class="footer-links">
      <a routerLink="contact">{{ "Footer.SubTitleContact" | translate }}</a>
      <span>|</span>
      <a routerLink="services">{{ "Footer.SubTitleServices" | translate }}</a>
      <span>|</span>
      <a routerLink="about">{{ "Footer.SubTitleAbout" | translate }}</a>
    </div>
    <div class="footer-copy">
      <p>&copy; {{ "Footer.SubTitle" | translate }}</p>
    </div>
  </div>
</footer>
