<footer class="main-footer-ar">
  <div class="footer-top">
    <div class="footer-col about">
      <p>ttttttttttttttttttttttttttttttt</p>
    </div>
    <div class="footer-col address">
      <div class="footer-title">Address</div>
      <div>omman <br /></div>
      <div>All days</div>
      <div>8AM - 10PM</div>
    </div>
    <div class="footer-col contact">
      <div class="footer-title">Contact us</div>
      <div>+(20) 1070750226</div>
      <div>+(20) 1092385072</div>
      <div>+(20) 1092383470</div>
      <div>+(20) 1070750221</div>
      <div>+(20) 1070750226</div>
      <div>
        <a href="mailto:info@ofxegypt.com" class="footer-mail"
          >mail <i class="fa fa-envelope-o"></i
        ></a>
      </div>
    </div>
    <!-- <div class="footer-col payment">
      <div class="footer-title">payment methods</div>
    </div> -->
  </div>
  <div class="footer-bottom">
    <div class="footer-social">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
    <div class="footer-links">
      <a routerLink="contact">Contact Us</a>
      <span>|</span>
      <a routerLink="services">Services</a>
      <span>|</span>
      <a routerLink="about">About Us</a>
    </div>
    <div class="footer-copy">
      <p>&copy; 2025 TrendLine. All rights reserved</p>
    </div>
  </div>
</footer>
