<section class="about-hero-section">
  <div class="about-hero-content">
    <div class="about-hero-text">
      <p class="about-hero-text-first">
        {{ "About.Description1" | translate }}
      </p>
      <p class="about-hero-text-second">
        {{ "About.Description2" | translate }}
      </p>
    </div>
    <img
      src="assets/images/imagecom/car.png"
      alt="Car"
      class="about-hero-car"
      loading="lazy"
    />
  </div>
</section>

<section class="mission-section">
  <h2>{{ "About.OurVision" | translate }}</h2>
  <div>
    <div class="bg">
      <p>{{ "About.OurVisionDesc1" | translate }}</p>
      <p>
        {{ "About.OurVisionDesc2" | translate }}
      </p>
      <p>{{ "About.OurVisionDesc3" | translate }}</p>
    </div>
    <div class="blob"></div>
  </div>
</section>
