<section class="services-section">
  <div class="services-header">
    <span class="services-subtitle">SERVICES</span>
    <h2 class="services-title">FEATURED SRVICES</h2>
  </div>
  <div class="services-cards">
    <!-- Service Card 1 -->
    <div class="service-card">
      <img
        class="service-img"
        src="assets/images/service1.jpg"
        alt="Social Ads Service"
        loading="lazy"
      />
      <div class="service-card-content">
        <div class="service-icon">
          <i class="fas fa-bullhorn"></i>
        </div>
        <h3 class="service-name">Social Ads</h3>
        <p class="service-desc">
          Provident nihil minus qui consequatur non omnis maiores. Eos
          accusantium minus dolores iure perferendis.
        </p>
      </div>
    </div>
    <!-- Service Card 2 -->
    <div class="service-card">
      <!-- <div
        class="service-img"
        style="background-image: url('assets/images/service2.jpg')"
      ></div> -->
      <img
        class="service-img"
        src="assets/images/service2.jpg"
        alt="Web Development Service"
        loading="lazy"
      />
      <div class="service-card-content">
        <div class="service-icon">
          <i class="fas fa-code"></i>
        </div>
        <h3 class="service-name">web dev</h3>
        <p class="service-desc">
          Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero
          corrupti neque eum hic non ut nesciunt dolorem.
        </p>
      </div>
    </div>
    <!-- Service Card 3 -->
    <div class="service-card">
      <!-- <div
        class="service-img"
        style="background-image: url('assets/images/service3.jpg')"
      ></div> -->
      <img
        class="service-img"
        src="assets/images/service3.jpg"
        alt="Graphic Design Service"
        loading="lazy"
      />
      <div class="service-card-content">
        <div class="service-icon">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <h3 class="service-name">Mobile Apps</h3>
        <p class="service-desc">
          Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea
          aut. Vel qui id voluptas adipisci eos earum corrupti.
        </p>
      </div>
    </div>
    <!-- Service Card 5 -->
    <div class="service-card">
      <!-- <div
        class="service-img"
        style="background-image: url('assets/images/service4.jpg')"
      ></div> -->
      <img
        class="service-img"
        src="assets/images/service4.jpg"
        alt="Graphic Design Service"
        loading="lazy"
      />
      <div class="service-card-content">
        <div class="service-icon">
          <i class="fas fa-camera-retro"></i>
        </div>
        <h3 class="service-name">photography</h3>
        <p class="service-desc">
          Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea
          aut. Vel qui id voluptas adipisci eos earum corrupti.
        </p>
      </div>
    </div>
    <!-- Service Card 5 -->
    <div class="service-card">
      <!-- <div
        class="service-img"
        style="background-image: url('assets/images/service6.jpg')"
      ></div> -->
      <img
        class="service-img"
        src="assets/images/service6.jpg"
        alt="Social Media Management Service"
        loading="lazy"
      />
      <div class="service-card-content">
        <div class="service-icon">
          <i class="fas fa-share-alt"></i>
        </div>
        <h3 class="service-name">Social Media Managemen</h3>
        <p class="service-desc">
          Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea
          aut. Vel qui id voluptas adipisci eos earum corrupti.
        </p>
      </div>
    </div>
  </div>
</section>
